<p>{{ message() }}</p>
<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus odit sunt numquam molestiae id atque nulla eaque cumque, officiis quo, commodi vitae facere quis, nemo recusandae dignissimos est ratione. Fuga?</span>
<p>{{ message2() }}</p>
<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus odit sunt numquam molestiae id atque nulla eaque cumque, officiis quo, commodi vitae facere quis, nemo recusandae dignissimos est ratione. Fuga?</span>
